/* 
-----------------------------------------------------
  Stylesheet Guide
-----------------------------------------------------
  
  1. Default stylesheets

    1.1. Color Schemes
  
  2. General classes
  
  3. Main

    3.1 Offsets

  4. Basic Elements

    4.1. Typography
    4.2. Lists
    4.3. Buttons
    4.4. Forms
    4.5. Tables
    4.6. Tooltips
    4.7. Dividers

  5. Widgets and Shortcodes

  6. Header

    6.1. Logo
    6.2. Main Navigation

  7. Footer

*/
@import "reset.css";
@import "../fonts/font-awesome-4.6.3/css/font-awesome.min.css";
@import "../fonts/themify-icons/themify-icons.css";

@import url(https://fonts.googleapis.com/css?family=Roboto&subset=latin,cyrillic);

/* ------------------------------------------------

    1. Default stylesheets

------------------------------------------------ */
  
  body,html{
    height: 100%;
  }

  body{
    font-family: 'Roboto', sans-serif;
    color:#333;
    font-size:14px;
    line-height:22px;
    background:#f1f1f1;
    min-width: 1280px;
  }

  *{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  ::selection{
    color: #fff;
    background-color: #22cfef;
  }

  ::-moz-selection{
    color: #fff;
    background-color: #22cfef;
  }

  ::-webkit-scrollbar{
    background: #cdcdcd;  
    width: 10px;
  }

  ::-webkit-scrollbar-thumb{background: #333131;}


  ::-webkit-input-placeholder{
    color:#505050;
    -webkit-transition: text-indent .5s ease, color .5s ease;
            transition: text-indent .5s ease, color .5s ease;
  }

  input::-moz-placeholder{
    color:#505050;
    opacity:1;
  }

  textarea::-moz-placeholder{
    color: #505050;
    opacity: 1;
  }

  ::ms-input-placeholder{
    color:#505050;
  }

  [placeholder]:focus::-webkit-input-placeholder{
    text-indent:10em;
    color:transparent;
  }


  /* --------------------------------------------
        1.1. Color Schemes
  -------------------------------------------- */

      .white_bg{
        background-color: #fff;
      }

      .grey_bg{
        background-color: #f4f4f4;
      }

      .red_bg{
        background-color: #D15656;
      }

      .green_bg{
        background-color: #3EB56E;
      }
      
      .orenge_bg{
        background-color: #EDA44C;
      }

      /*color*/

      .green_color{
        color: #3EB56E;
      }

      .orenge_color{
        color: #EDA44C;
      }

      .red_color{
        color: #D15656;
      }

/* ------------------------------------------------

    2. General Classes

------------------------------------------------ */

   .align_left{
    text-align: left;
   }

   .align_right{
    text-align: right;
   }

   .align_center{
    text-align: center;
   }

   .align_justify{
    text-align: justify;
    font-size: 0;
    line-height: 0;
   }

   .align_justify:after{
    content: '';
    display: inline-block;
    width: 100%;
   }

   .alignleft{
    float: left;
   }

   .alignright{
    float: right;
   }

   .wrapper{overflow: hidden;}

   .hide{ display: none;}

   .show{ display: block;}

   .d_ib{display: inline-block;}

   .transparent{ opacity:0; }

   .invisible{ 
    opacity: 0;
    visibility: hidden;
   }

   .visible{ 
    opacity:1; 
    visibility: visible;
   }

   .p_abs{position: absolute;}

   .p_rel{position: relative;}

   .p_fix{position: fixed;}

   .clear {clear:both;width:100%;line-height:0;font-size:0;}

   .clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
   }

   .reg {text-transform:uppercase}

/* ------------------------------------------------

    3. Main

------------------------------------------------ */

  .page_wrap{
    height: 100%;
    position: relative;
  }

   #content {
    position: absolute;
    overflow: auto;
    top: 115px;
    bottom: 0;
    left: 66px;
    right: 0;
    padding: 15px 20px 20px;
   }

  /* --------------------------------------------
        3.1. Offsets
  -------------------------------------------- */
    
      .section_offset{
         padding: 55px 0;
      }

/* ------------------------------------------------

    4. Basic Elements

------------------------------------------------ */
  
  /* --------------------------------------------
        4.1. Typography
  -------------------------------------------- */
  
    h1,h2,h3,h4,h5,h6{
      font-weight:normal;
      line-height: 1.23em;
      color: #000;
      margin: 0;
    }

    h1{
      font-size: 18px;
      margin-bottom: 18px;
    }

    h2{font-size: 30px;}
    
    h3{font-size: 22px;}
    h4{font-size: 18px;}
    h5{font-size: 16px;}
    h6{font-size: 14px;}

    p:not(:last-child){margin-bottom: 20px;}

    mark{background-color: #20cfef;padding: 0 2px;color: #fff;}
    mark.red{background-color: #ee352f;}

    a{
      color: #;
      text-decoration: none;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
    }
    a:hover{
      color: #333;
      text-decoration: none;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
    }
    a:focus,
    a:visited{
      text-decoration: none;
    }

    .link1{
      color: #2C68A3;
      text-decoration: underline;
    }

    .link1:hover{
      color: #2C68A3;
      text-decoration: none;
    }

  /* --------------------------------------------
        4.2. Lists
  -------------------------------------------- */
      
    .list1{}
    
    .list1 li{
      background:url(../images/marker1.png) 0 7px no-repeat;
      padding-left:20px;
    }

    .list1 li a{}

  /* --------------------------------------------
        4.3. Buttons
  -------------------------------------------- */
    
    button{
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
    }
    
    button:hover{
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
    }

    .btn{
      display: inline-block;
      outline: none;
      border: none;
      font-size: 14px;
      line-height: 18px;
      padding: 10px 15px;
      color: #fff;
      border-radius: 4px;
      cursor: pointer;
    }

    .btn.rgeen{
      background-color: #22C664;
    }

    .btn.rgeen:hover{
      background-color: #58DD8E;
    }

    .btn.black{
      background-color: #3E3E47;
    }

    .btn.black:hover{
      background-color: #55555E;
    }

    .btn.blue{
      background-color: #16B6C6;
    }

    .btn.blue:hover{
      background-color: #72d3dc;
    }

    .btn_box{
      line-height: 0;
      font-size: 0;
      padding-top: 30px;
    }

    .btn_box>*:not(:first-child){
      margin-left: 5px;
    }

    .btn_box.alignright>*:not(:last-child){
      margin-right: 5px;
      margin-left: 0;
    }

    .icon_left_btn{
      position: relative;
      padding-left: 30px;
    }

    .icon_left_btn i{
      text-align: center;
      display: block;
      width: 30px;
      position: absolute;
      top: 50%;
      left: 0;
      margin-top: -8px;
      font-size: 16px;
      line-height: 1;
    }


  /* --------------------------------------------
        4.4. Forms
  -------------------------------------------- */

    legend{
      display: block;
      margin-bottom: 15px;
      font-size: 18px;
      line-height: 20px;
      color: #000;
    }

    fieldset:not(:last-child){
      margin-bottom: 30px;
    }

    .form_row{
      position: relative;
    }

    .form_row:not(:last-child){
      margin-bottom: 8px;
    }

    .form_row.button_row{
      padding-top: 20px;
    }

    .form_row.button_row:not(:last-child){
      margin-bottom: 25px;
    }

    .form_row:after{
      content: '';
      display: block;
      clear: both;
    }

    input:not([type="radio"]):not([type="checkbox"]):not([type="file"]),
    textarea{
      width: 100%;
      outline: none;
      background-color: #f4f4f4;
      border: 1px solid #e6e6e6;
      border-radius: 4px;
      font-size: 14px;
      line-height: 20px;
      padding: 10px;
    }

    textarea{
      resize: none;
    }

    input:not([type="radio"]):not([type="checkbox"]):not([type="file"]):focus,
    textarea:focus{
      -webkit-box-shadow: inset 0 0 6px rgba(22,182,198,0.3);
      box-shadow: inset 0 0 6px rgba(22,182,198,0.3);
    }

    label{
      display: block;
      font-size: 14px;
      line-height: 16px;
      padding-top: 13px;
      color: #000;
    }
    
    [class*='label_col_']{
      float: left;
      min-height: 1px;
    }

    .label_col_1{
      width: 160px;
    }

    .label_col_2{
      width: 130px;
    }

    .input_box1{
      float: left;
      width: 535px;
    }

    .input_box2{
      float: left;
      width: 215px;
    }

    .input_box3{
      float: right;
      width: 255px;
    }

    .input_box4{
      float: right;
      width: 125px;
    }

    .input_box5{
      float: left;
      width: 345px;
    }

    .input_box6{
      float: left;
      width: 720px;
    }

    .input_box6_inner label{
      display: inline-block;
      padding-right: 15px;
      max-width: 100px;
    }

    .input_box6_inner input:not([type="radio"]):not([type="checkbox"]):not([type="file"]){
      display: inline-block;
      width: 170px;
    }

    /*select*/
    
    .jq-selectbox{
      width: 100%;
    }

    .jq-selectbox.focused .jq-selectbox__select{
      border-color: #e6e6e6;
    }

    .jq-selectbox__select{
      width: 100%;
      height: auto;
      outline: none !important;
      -webkit-box-shadow: none;
      box-shadow: none;
      text-shadow: none;
      background: #f4f4f4;
      border: 1px solid #e6e6e6;
      border-radius: 4px;
      font-size: 14px;
      line-height: 20px;
      padding: 10px;
    }

    .jq-selectbox__select:hover{
      background: #f4f4f4;
    }

    .jq-selectbox__trigger{
      border: none;
    }

    .jq-selectbox__trigger-arrow{
      border: none;
      width: auto;
      height: auto;
      top: 9px;
    }

    .jq-selectbox__trigger-arrow:before{
      content: "\f107";
      font: normal normal normal 22px/1 FontAwesome;
    }

    .jq-selectbox.opened .jq-selectbox__trigger-arrow:before{
      content: "\f106";
    }

    /*input file*/

    input[type="file"]{
      display: none;
    }

    .name_file{
      display: inline-block;
      padding-left: 10px;
      line-height: 38px;
      max-width: 100px;
      overflow: hidden;
      -ms-text-overflow: ellipsis;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    
  /* --------------------------------------------
        4.5. Tables
  -------------------------------------------- */
    
    table{
      width: 100%;
      table-layout: fixed;
      text-align: left;
      border-bottom: 1px solid #e6e6e6;
    }

    table table{
      border-bottom: none;
    }

    thead{
      background-color: #3E3E47;
    }

    th{
      color: #fff;
      font-size: 14px;
      line-height: 17px;
      padding: 10px 0;
      font-weight: 400;
      padding-left: 10px;
    }

    th:not(:last-child){
      border-right: 1px solid rgba(255,255,255,0.2);
    }

    tbody tr:not(:last-child){
      border-bottom: 1px solid #e6e6e6;
    }

    table td{
      font-size: 13px;
      line-height: 16px;
      padding: 16px 10px;
    }



    /*Table Toggle*/

    .completed_checkbox{
      float: right;
      padding-right: 20px;
    }

    .completed_checkbox input{
      display: none;
    }

    .completed_checkbox label{
      position: relative;
      display: block;
      font-size: 13px;
      color: rgba(255,255,255,0.7);
      padding-left: 20px;
      cursor: pointer;
    }

    .completed_checkbox label:before{
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 50%;
      -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      -o-transform: translate(0, -50%);
      transform: translate(0, -50%);
      width: 12px;
      height: 12px;
      border: 1px solid rgba(255,255,255,0.7);
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }

    .completed_checkbox label:after{
      content: "\e64c";
      display: none;
      font-family: 'themify';
      position: absolute;
      top: 50%;
      left: 0;
      -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      -o-transform: translate(0, -50%);
      transform: translate(0, -50%);
      width: 12px;
      height: 12px;
      text-align: center;
      line-height: 10px;
      font-size: 10px;
      color: rgba(255,255,255,0.7);
    }

    .completed_checkbox input:checked + label:after{
      display: block;
    }

    .status_cell{
      width: 176px;
    }

    .percent_cell{
      width: 140px;
    }

    .responsible_cell{
      width: 165px;
    }

    .completion_cell{
      width: 140px;
    }

    .start_cell{
      width: 130px;
    }

    .toggle_btn{
      font-size: 15px;
      padding-left: 22px;
      position: relative;
      cursor: pointer;
      display: inline-block;
    }

    .toggle_btn:before{
      content: '+';
      display: block;
      position: absolute;
      line-height: 12px;
      font-size: 12px;
      text-align: center;
      top: 50%;
      left: 0;
      -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      -o-transform: translate(0, -50%);
      transform: translate(0, -50%);
      width: 12px;
      height: 12px;
      border: 1px solid #333333;
    }

    .toggle_btn.opened:before{
      content: '—';
    }

    .toggle_btn_row:not(.opened_box){
      border-bottom: none !important;
    }

    .toggle_row>td{
      padding: 0;
    }

    .toggle_row .toggle_btn_row>td:first-child,
    .toggle_row tr:not(.toggle_row)>td:first-child{
      padding-left: 35px;
    }

    .toggle_row .toggle_row .toggle_btn_row>td:first-child,
    .toggle_row .toggle_row tr:not(.toggle_row)>td:first-child{
      padding-left: 76px;
    }

    .toggle_box{
      display: none;
    }


    /*Table Tasks*/

  
    .number_cell{
      width: 50px;
    }

    .author_cell{
      width: 12%;
    }

    .beginning1_cell{
      width: 90px;
    }

    .period_execution1_cell{
      width: 102px;
    }

    .priority_cell{
      width: 50px;
    }

    .performed_day1_cell{
      width: 8.1%;
    }

    .performed_task_cell{
      width: 9%;
    }

    .beginning2_cell{
      width: 95px;
    }

    .period_execution2_cell{
      width: 98px;
    }

    .performed_day2_cell{
      width: 8.1%;
    }

    .deviation_cell{
      width: 7%;
    }

    .task_table th{
      position: relative;
      padding-bottom: 25px;
    }

    .task_table>tbody>tr>td{
      padding: 0;
    }

    .task_table tbody tr:not(:last-child){
      border: none;
    }

    .table_subtitle{
      font-size: 12px;
      line-height: 16px;
      color: rgba(255,255,255,0.7);
      display: block;
    }

    .task_title_icon{
      position: absolute;
      width: 100%;
      bottom: 5px;
      left: 0;
      padding-top: 5px;
      color: rgba(255,255,255,0.7);
      font-size: 12px;
      text-align: center;
    }

    .task_title_row{
      background-color: #f9f9f9;
      border-bottom: 1px solid #e6e6e6 !important;
    }

    .task_title_row td{
      padding: 0;
    }

    .task_title_qt{
      text-align: center;
      vertical-align: middle;
      font-size: 18px;
      line-height: 21px;
      color: #fff;
    }

    .task_title{
      font-size: 20px;
      line-height: 24px;
      color: #333;
      padding: 13px 10px;
    }

    .task_table_inner{
      background-color: #fff;
    }

    .task_table_inner tr:nth-child(even){
      background-color: #EDEDED;
    }

    .task_table_inner td{
      position: relative;
    }

    .task_btn{
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      padding: 16px 10px;
      color: #fff;
    }

    .new_task>td:first-child:after{
      content: '';
      display: inline-block;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: #22C664;
      margin-left: 5px;
    }

    /*priority*/

    [class*='priority_type']{
      display: inline-block;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      color: #fff;
      line-height: 20px;
      text-align: center;
    }

    .priority_type1{
      background-color: #D15656;
    }

    .priority_type1:before{
      content: '1';
    }

    .priority_type2{
      background-color: #EDA44C;
    }

    .priority_type2:before{
      content: '2';
    }

    .priority_type3{
      background-color: #22C664;
    }

    .priority_type3:before{
      content: '3';
    }


    .task_report_btn{
      display: inline-block;
      background-color: #F2F2F2;
      outline: none;
      border: 1px solid #e6e6e6;
      border-radius: 3px;
      color: #3E3E47;
      font-size: 12px;
      line-height: 14px;
      padding: 3px 10px;
    }

    .task_report_btn:hover{
      color: #3E3E47;
      background-color: #e6e6e6;
    }

  /* --------------------------------------------
        4.6. Proggres Bur
  -------------------------------------------- */
    
    .proggres_bur{
      position: relative;
      height: 16px;
      margin-right: 30px;
    }

    .proggres_bur:not(:last-child){
      margin-bottom: 4px;
    }

    .proggres_bur_inner{
      position: absolute;
      height: 100%;
      left: 0;
      top: 0;
      width: 0;
    }

    .proggres_bur_val{
      position: absolute;
      top: 0;
      left: 100%;
      padding-left: 9px;
    }

  /* --------------------------------------------
        4.7. Dividers
  -------------------------------------------- */

/* ------------------------------------------------

    5. Widgets and Shortcodes

------------------------------------------------ */
  
  /* --------------------------------------------
        5.1. Boxs
  -------------------------------------------- */

    .box1{
      -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.2);
      box-shadow: 0 0 10px rgba(0,0,0,0.2);
      padding-bottom: 15px;
      min-height: 480px;
    }

    .box2{
      -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.2);
      box-shadow: 0 0 10px rgba(0,0,0,0.2);
      padding: 20px 20px 70px;
    }


  /* --------------------------------------------
        5.2. Navigation 1
  -------------------------------------------- */
    
    .navigation_1{
      border-bottom: 1px solid #e6e6e6;
      background-color: #f4f4f4;
    }

    .navigation_1:not(:last-child){
      margin-bottom: 17px;
    }

    .navigation_1 li{
      float: left;
      border-right: 1px solid #e6e6e6;
    }

    .navigation_1 li a{
      display: block;
      font-size: 14px;
      line-height: 24px;
      color: #3E3E47;
      padding: 20px 30px;
    }

    .navigation_1 li a:hover{
      background-color: #fff;
    }

    .navigation_1 li.current a,
    .navigation_1 li.current a:hover{
      color: #fff;
      background-color: #16B6C6;
    }
    
  /* --------------------------------------------
        5.3. Filter Menu
  -------------------------------------------- */
    
    .filter_box1{
      margin-left: 17px;
      margin-bottom: 15px;
    }

    .filter_box2{
      margin-bottom: 15px;
    }

    .filter_menu li{
      float: left;
    }

    .filter_menu li a{
      display: block;
      font-size: 14px;
      line-height: 36px;
      color: #3E3E47;
      padding: 0 25px;
      border: 1px solid #e6e6e6;
      background-color: #fff;
    }

    .filter_menu li a:hover{
      background-color: #f4f4f4;
    }

    .filter_menu li.current a:hover,
    .filter_menu li.current a{
      background-color: #16B6C6;
      border-color: #16B6C6;
      color: #fff;
    }

    .filter_menu li:first-child a{
      border-radius: 5px 0 0 5px;
    }

    .filter_menu li:last-child a{
      border-left: none;
      border-radius: 0 5px 5px 0;
    }

  /* --------------------------------------------
        5.4. Staus Label
  -------------------------------------------- */
    
    .status{
      display: inline-block;
      position: relative;
      min-width: 77px;
      border-radius: 4px;
      font-size: 13px;
      line-height: 16px;
      padding: 7px 5px;
      color: #fff;
      text-align: center;
    }

    .status.start{
      background-color: #22C664;
    }

    .status.pause{
      background-color: #D15656;
    }

    .status.pause:before{
      content: '';
      display: block;
      position: absolute;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: #22C664;
      top: 50%;
      right: -20px;
      margin-top: -3px;
    }
  

  /* --------------------------------------------
        5.5. Dropdown
  -------------------------------------------- */
    
    .custom_dropdown_box{
      position: relative;
    }

    .header_bottom .custom_dropdown_box{
      padding: 15px 0 0;
      margin-right: 22px;
      margin-left: 22px;
    }

    .custom_dropdown_btn{
      position: relative;
      display: inline-block;
      font-size: 14px;
      line-height: 18px;
      color: #fff;
      padding: 10px 12px;
      border-radius: 4px;
      background-color: #16B6C6;
      cursor: pointer;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
    }

    .custom_dropdown_btn:hover{
      background-color: #72d3dc;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
    }

    .custom_dropdown_btn i{
      line-height: 18px;
      margin-right: 12px;
    }

    .custom_dropdown_btn i:last-child{
      margin-right: 0;
      margin-left: 12px;
      font-size: 12px;
    }

    .custom_dropdown{
      position: absolute;
      z-index: 3;
      width: 230px;
      top: 100%;
      margin-top: 1px;
      background-color: #16B6C6;
      border-radius: 4px;
      overflow: hidden;
      left: 0;
      opacity: 0;
      visibility: hidden;
      -webkit-transform: translate(0, 40px);
      -ms-transform: translate(0, 40px);
      -o-transform: translate(0, 40px);
      transform: translate(0, 40px);
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
    }

    .custom_dropdown_box.opened .custom_dropdown{
      opacity: 1;
      visibility: visible;
      -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      -o-transform: translate(0, 0);
      transform: translate(0, 0);
    }

    .custom_dropdown_box.custom_dropdown_right .custom_dropdown{
      left: auto;
      right: 0;
    }

    .custom_dropdown li:not(:last-child){
      border: 1px solid #22A9BC;
    }
    
    .custom_dropdown li a{
      display: block;
      position: relative;
      font-size: 14px;
      line-height: 16px;
      color: #fff;
      padding: 11px 5px 11px 35px;
    }

    .custom_dropdown li a:hover{
      background-color: #72d3dc;
    }

    .custom_dropdown li:not(:first-child) a:before{
      content: '';
      display: block;
      position: absolute;
      height: 1px;
      right: 0;
      left: 0;
      top: 0;
      background-color: rgba(255,255,255,0.3);
    }

/* ------------------------------------------------

    6. Header

------------------------------------------------ */
   
  #header{
    height: 115px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
  }

  .header_top{
    height: 50px;
    padding: 11px 22px 0;
    background-color: #3E3E47;
  }

  .header_bottom{
    height: 65px;
    background-color: #fff;
    margin-left: 66px;
    -webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);

  }


  /* --------------------------------------------
        6.1. Logo
  -------------------------------------------- */

    .logo{
      float: left;
      color: #fff;
      font-size: 22px;
      line-height: 28px;
    }

    .logo>*{
      vertical-align: middle;
    }

    .logo>span{
      padding-left: 20px;
    }

    .registered_name{
      float: right;
      color: #fff;
      font-size: 18px;
      line-height: 28px;
    }

    .registered_name>*{
      vertical-align: middle;
      display: inline-block;
    }

    .out_btn{
      color: #16B6C6;
      font-size: 22px;
      margin-left: 20px;
    }

    .out_btn:hover{
      color: #D15656;
    }

    .out_btn i{
      line-height: 28px;
    }


  /* --------------------------------------------
        6.2. Top Menu
  -------------------------------------------- */
    
    #top_menu{
      float: left;
    }

    #top_menu li{
      float: left;
      border-right: 1px solid #e6e6e6;
    }

    #top_menu li a{
      display: block;
      font-size: 14px;
      line-height: 65px;
      color: #3E3E47;
      padding: 0 25px;
    }

    #top_menu li a:hover,
    #top_menu li.current a{
      color: #000;
      background-color: #f4f4f4;
    }

  /* --------------------------------------------
        6.3. Notice
  -------------------------------------------- */
    
    .notice{
      display: block;
      color: #3E3E47;
      float: right;
      z-index: 14;
      border-left: 1px solid #F4F4F4;
      border-right: 1px solid #F4F4F4;
      line-height: 65px;
      padding: 0 20px 0 35px;
    }

    .notice:hover{
      background-color: #f4f4f4;
    }

    .notice>*{
      display: inline-block;
      vertical-align: middle;
      line-height: 64px;
    }

    .notice_qt{
      min-width: 20px;
      height: 20px;
      border-radius: 10px;
      background-color: #16B6C6;
      font-size: 12px;
      line-height: 20px;
      color: #fff;
      text-align: center;
      padding: 0 3px;
      margin-left: 10px;
    }

/* ------------------------------------------------

    7. Left Menu

------------------------------------------------ */
   
  #left_menu{
    position: absolute;
    z-index: 2;
    left: 0;
    top: 50px;
    width: 66px;
    bottom: 0;
    background-color: #16B6C6;
    text-align: center;
  }

  #left_menu li a{
    display: block;
    position: relative;
    color: #fff;
    border-bottom: 1px solid #22A9BC;
  }

  #left_menu li a:after{
    content: '';
    display: block;
    position: absolute;
    z-index: 3;
    bottom: -2px;
    width: 100%;
    height: 1px;
    background-color: rgba(255,255,255,0.3);
  }

  #left_menu li a i{
    display: block;
    position: relative;
    background-color: #16B6C6;
    z-index: 2;
    width: 100%;
    font-size: 24px;
    line-height: 64px;
  }

  #left_menu li a span{
    white-space: nowrap;
    font-size: 18px;
    line-height: 66px;
    background-color: #16B6C6;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 64px;
    padding-right: 40px;
    -webkit-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    -o-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }

  #left_menu li a:hover span{
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }

  #left_menu li.current a i,
  #left_menu li.current a span{
    background-color: #72d3dc;
  }

/* ------------------------------------------------

    8. New Project page

------------------------------------------------ */
   
  .form_block1{
    float: left;
    width: 880px;
  }

  .form_block2{
    clear: both;
    width: 880px;
  }

  .added_fields{
    padding-top: 15px;
  }

  .upload_photo{
    float: right;
    width: 242px;
    padding-top: 35px;
    text-align: center;
  }

  .upload_photo_img{
    height: 180px;
    position: relative;
    border: 1px solid #e6e6e6;
    background-color: #f4f4f4;
    border-radius: 4px;
    margin-bottom: 20px;
  }

  .upload_photo_img i{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 30px;
    color: #858C95;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .upload_photo_img .name_file{
    display: block;
    max-width: initial;
    position: absolute;
    bottom: 5px;
    left: 5px;
    right: 5px;
    background-color: rgba(0,0,0,0.3);
    color: #fff;
    padding: 0;
    font-size: 14px;
    line-height: 25px;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }

  .upload_photo_img:hover .name_file{
    opacity: 1;
    visibility: visible;
  }

  .close_btn{
    display: inline-block;
    outline: none;
    border: none;
    padding: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    text-align: center;
    background-color: #ccc;
    color: #fff;
    cursor: pointer;
  }

  .close_btn i{
    font-size: 12px;
    line-height: 24px;
  }

  .close_btn:hover{
    background-color: #D15656;
  }

  .form_row .close_btn{
    position: absolute;
    top: 50%;
    margin-top: -12px;
    right: -40px;
  }
  