.info_i{
	border: 1px solid #4cc1ce;
	border-radius: 50%;
	width: 13px;
	height: 13px;
	text-align: center;
	font-size: 9px;
	line-height: 13px;
	display: inline-block;
	color: #4cc1ce;
	position: absolute;
	margin: 1px 4px;
  font-weight: bold;
}

.black_color{
	color: #000;
}

.color_fon{
	color: #ffffff;
	border-radius: 10px;
	min-width: 20px;
	display: inline-block;
	text-align: center;
	padding: 2px 4px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}

.my_btn{
	color: #fff;
	background-color: #46c7b3;
	display: inline-block;
	border-radius: 11px;
	line-height: 16px;
	padding: 5px 18px;
	border: none;
	font-size: 14px;
  cursor: pointer;
  outline: none;
}
.my_btn:hover {
  background-color: #16B6C6;
}

.table_td_border td {
  border-bottom: 1px solid #e8e8e8;
}
.fz14 td {
  font-size: 14px;
}